.chat-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 50%;
}

.messages {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.bubble {
  max-width: 90%;
  padding: 8px 6px;
  border-radius: 12px;
  margin: 4px 0;
  position: relative;
  word-wrap: break-word;
}

.sent {
  align-self: flex-end;
}

.sent .bubble {
  background: #dcf8c6; 
}

.received {
  align-self: flex-start;
}

.received .bubble {
  background: #fff;
  border: 1px solid #ddd;
}

.time {
  display: block;
  font-size: 0.75em;
  color: gray;
  text-align: right;
  margin-top: 2px;
}

.input-row{
  align-self: flex-end;
  gap: 8px; 
}

.chat-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
