<div class="chat-setup" *ngIf="!usernameSet">
      <input [(ngModel)]="usernameInput" placeholder="Entrez votre pseudo" />
      <button (click)="submitUsername()">Valider</button>
    </div>

      <div class="chat-wrapper" *ngIf="usernameSet">
     <div class="chat-container">
  <div class="messages">
    <div *ngFor="let msg of messages" 
         [ngClass]="{'sent': msg.from === username, 'received': msg.from !== username}">
      <div class="bubble">
        <b *ngIf="msg.from !== username">{{ msg.from }}</b>
        <p>{{ msg.content }}</p>
        <span class="time">{{ msg.timestamp | date:'shortTime' }}</span>
      </div>
    </div>
  </div>

  <div class="input-row">
    <input class="message-area" [(ngModel)]="newMessage" placeholder="Écrivez un message..." />
    <button (click)="send()">Envoyer</button>
  </div>
</div>

    </div>